@model Produit
@{
    bool isUpdate = Model != null;
    ViewData["Title"] = (isUpdate ? "Modifier" : "Ajouter") + " un Animal";

}

<h1>@(isUpdate ? "Modifier" : "Ajouter")</h1>

<form asp-action="submitProduit" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" class="form-control">
        <div class="mb-3">
        <label asp-for="Nom" class="form-label"></label>
        <input asp-for="Nom" type="text" class="form-control">

    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" type="text" class="form-control">

    </div>
    <div class="mb-3">
        <label asp-for="Prix" class="form-label"></label>
        <input asp-for="Prix" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Quantite" class="form-label"></label>
        <input asp-for="Quantite" type="number" class="form-control">
    </div>    
    <div class="mb-3">
        <label asp-for="Categorie" class="form-label"></label>
        <input asp-for="Categorie" type="text" class="form-control">
    </div
    <div class="mb-3">
        <label class="form-label">Photo de l'animal</label>
        <input type="file" name="picture" class="form-control">@*input du fichier picture*@
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>